<!-- Bootstrap core JavaScript-->
    <script src="/libs/jquery/jquery.min.js"></script>
    <script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    
    <!-- Core plugin JavaScript-->
    <script src="/libs/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>
    

    <!-- Sweet Alert-->
    <script src="/libs/sweetalert2.all.min.js"></script>

    <!-- Custom scripts -->
    <script src="/js/functions.js"></script>
    <script src="/js/function_dashboard.js"></script>
    

</body>

</html>
