<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Sistema de citas - {{name_enterprise}} | {{ anio }}</span>
        </div>
    </div>
</footer>