
{{> head }}

    {{> navbar }}


    <div class="container-fluid mt-5 p-5">

                    <!-- 404 Error Text -->
                    <div class="text-center">
                        <div class="error mx-auto" data-text="404">404</div>
                        <p class="lead text-gray-800 mb-5">Page Not Found</p>
                        <a href="/dashboard">&larr; Regresar</a>
                        <hr>
                        {{err.err}}
                    </div>

                </div>
                <!-- /.container-fluid -->

    
{{> footer }}

    