
{{> head }}

    {{> navbar }}


    <div class="container text-center mt-5 p-5">
        <h1 class="text-dark">Bienvenido al sistema de registro de citas de Axapusco</h1>
        <img src="img/logo-axapusco.jpg" class="img img-fluid pt-2">
    </div>

    
{{> footer }}

    